# Mapping files for poking around
*map.xml

# Temporary and build folders
tmp/*
bin/*
log/*.log
indexing/*

# Data storage folder
storage/*

# Archive files
*.tar
*.gz
*.zip

# Temporary editor files
*~
*.swp
*.orig
*.dict

# LaTeX work-files
*.log
*.aux
*.toc
*.lot
*.bbl
*.blg
*.out
*.bak

# Random Mac thing
*.DS_Store

# Python Compiled
*.pyc
